@media (max-width: 1199px) {

    .main-menu ul li{
        padding: 5px 12px;
        margin-top: 25px;
    }
    .social-icon{
        padding-top: 25px;
    }

  }
@media (max-width: 991px) {
    .menu-trigger{
        display: block;
        top: 20%;
    }
    .main-menu{
        display: none;
        margin-top: 15%;
    }
    .main-menu ul li{
        width: 100%;
        margin: 0;
        padding: 8px 0px;
    }
    .main-menu ul {
        margin-left: -50% !important;
        padding-top: 6% !important;
    }
    .menu-button{
        margin-left: -115px !important;
        margin-top: -2%;
    }
    .main-menu ul li ul {
       width: 100% !important;
       position: relative;
       display: none;
    }

    .main-menu ul li:hover ul  {
        display: block;
        transition: 0.5s all !important;
        opacity: 1 !important;
        padding-top: 0 !important;
        margin-left: 0px !important;
    }
    .logo h4,span{
        width: 100%;
    }
    .social-icon{
        padding-top: 18px;
    }
    .social-icon a{
        padding-left: 2px;  
        font-size: 11px !important;
    }
    .email-address a{
        font-size: 11px !important;
    }
    .address p{
        font-size: 11px !important;
    }

  }

@media (max-width: 767px){
    .info-section{
        text-align: center;
        padding-bottom: 0;
    }
    .address {
        position: relative;
    }
    .address i{
        position: absolute;
        left: 18%;
    }
    .social-icon{
       text-align: center;
       padding-top: 0px;
        padding-bottom: 5px;
    }
    .menu-trigger{
        top: 28%;
        display: block;
    }
    .logo img{
        width: 63px;
    }
    .logo span{
    left: 13%;
    font-size: 8px;
    top: 64%;
    }
    .logo h4{
        font-size: 15px;
        left: 13%;
    }
    
}